@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Optionally, apply the font to the entire document or specific elements */
body {
    background-color: white;
    
 }
 body::-webkit-scrollbar {
  display: none;
}
@layer base {
    :root {
      --color-primary: #07F;
      --color-secondary: #333333;
      /* ... */
    }
  }